/* Estilos aplicados para crear el menu horizontal en CSS */
#index{
    background-color: silver;
    padding: 2rem;
    margin: 0;
    height: 100%;
    width: auto;
    text-align: center;
    color: #fff;
    font-style: italic;
    font-size: 5vmin;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

header{
    width: 100%;
    background-color: #5f9ea0;
    position: sticky;
    top: 0;

}

#btn-menu{
    display: none;
}

header label{
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    border-right:1px solid #fff ;
    display: none;
}

header label:hover{
    cursor: pointer;

}

#menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

#menu li{
    flex-grow: 1;
    text-align: center;
    border: 1px solid #fff;
}

#menu li a{
    text-decoration: none;
    display: block;
    padding: 1rem 1rem;
    color: #fff;

}

#menu li a:hover{
    background-color: #000;
    cursor: pointer;
}

#menu li a:active{
    background-color: #316072;
}

/*Aplicar los estilos a la barra de navegacion con media query para que el menu se oculte y sea despegable*/

@media screen and (max-width: 768px){
    header label {
        display: block;
    }

    #menu{
        position: absolute;
        background-color: cadetblue;
        width: 20%;
        margin-left: -20%;
        transition: all 0.6s;
   }

   #menu ul{
    flex-direction: column;
   }

   #menu li{
    text-align: left;
    border: 1px solid #fff;
   }
   /* Utilizar el checkbox a travez de label */
   #btn-menu:checked ~ #menu{
        margin-left: 0%;
   }

   main{
    margin: 1rem;
   }

   main p{
    margin: 1rem;
   }
}
